/* ************************ */
/* Colors */
/* ************************ */
/* ************************ */
/* Fonts */
/* ************************ */
@font-face {
  font-family: "Helvetica Neue";
  src: url("css/fonts/helveticaneue-webfont.eot"), url("css/fonts/helveticaneue-webfont.woff") format("woff"), url("css/fonts/helveticaneue-webfont.svg#filename") format("svg"); }
/* ************************ */
/* Tag styles */
/* ************************ */
* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  color: #00186F;
  font-weight: 400; }

h1 {
  font-size: 36px;
  font-size: 2.25rem; }

h2 {
  font-size: 30px;
  font-size: 1.875rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 300; }

/* ************************ */
/* button styles */
/* ************************ */
.btn {
  border: 0;
  background: none;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer; }

.btn-sm {
  height: 40px;
  padding: .7rem 2.4rem;
  font-size: 13px;
  font-size: 0.8125rem; }

.btn-med {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 1rem 3.5rem; }

.btn-lg {
  background-color: #7DA940;
  font-size: 14px;
  font-size: 0.875rem;
  height: 60px;
  padding: 1.45rem 5.5rem;
  text-transform: uppercase; }

.gradient-main {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#174e90+0,348fb7+100 */
  background: #174e90;
  /* Old browsers */
  background: -moz-linear-gradient(left, #174e90 0%, #348fb7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #174e90 0%, #348fb7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #174e90 0%, #348fb7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174e90', endColorstr='#348fb7',GradientType=1 );
  /* IE6-9 */ }

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

/* ************************ */
/* Navigation */
/* ************************ */
nav {
  display: none; }

nav ul {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  text-align: center; }

nav ul li {
  list-style-type: none;
  padding: 10px 0; }

nav ul li a {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  opacity: .7;
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block; }

.nav-active {
  opacity: 1; }

/* ************************ */
/* Home section */
/* ************************ */
#home-cont {
  padding: 6rem 0 7rem; }

#home-title {
  font-size: 55px;
  font-size: 3.4375rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff; }

#home-sub-title {
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: .15rem; }

/* ************************ */
/* 'The Healhier Medicine' section */
/* ************************ */
#healthier-title {
  margin: 50px 0; }

.card-horizontal {
  text-align: center;
  padding: 20px;
  margin: 40px 0; }

.card-horizontal h3 {
  font-weight: 700; }

.card-horizontal img {
  width: 75px; }

.box-shadow {
  -webkit-box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1); }

/* ************************ */
/* Featured Products Section */
/* ************************ */
#featured-title {
  margin-bottom: 0;
  margin-top: 5rem; }

.card-img {
  display: block; }

.card-vertical {
  margin-bottom: 40px; }

.card-vertical img {
  width: 100%; }

.card-v-inner {
  padding: 1.5rem; }

/* ************************ */
/* 'Let's Get Started' section */
/* ************************ */
.input-shadow {
  -webkit-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2); }

/*# sourceMappingURL=main.css.map */
