/* ************************ */
/* Colors */
/* ************************ */
/* ************************ */
/* Fonts */
/* ************************ */
@font-face {
  font-family: "Helvetica Neue";
  src: url("css/fonts/helveticaneue-webfont.eot"), url("css/fonts/helveticaneue-webfont.woff") format("woff"), url("css/fonts/helveticaneue-webfont.svg#filename") format("svg"); }
/* ************************ */
/* Tag styles */
/* ************************ */
* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  color: #00186F;
  font-weight: 400; }

h1 {
  font-size: 36px;
  font-size: 2.25rem; }

h2 {
  font-size: 30px;
  font-size: 1.875rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 300; }

textarea, input, button {
  outline: none; }

input {
  color: #4D4D4D;
  font-weight: 300; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9F9F9F;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9F9F9F;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem; }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #9F9F9F;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #9F9F9F;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem; }

/* ************************ */
/* button styles */
/* ************************ */
.btn {
  border: 0;
  background: none;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer; }

.btn-sm {
  height: 40px;
  padding: .7rem 2.4rem;
  font-size: 13px;
  font-size: 0.8125rem; }

.btn-med {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 1rem 3.5rem; }

.btn-lg {
  background-color: #7DA940;
  font-size: 14px;
  font-size: 0.875rem;
  height: 60px;
  padding: 1.45rem 5.5rem;
  text-transform: uppercase; }

.gradient-main {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#174e90+0,348fb7+100 */
  background: #174e90;
  /* Old browsers */
  background: -moz-linear-gradient(left, #174e90 0%, #348fb7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #174e90 0%, #348fb7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #174e90 0%, #348fb7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174e90', endColorstr='#348fb7',GradientType=1 );
  /* IE6-9 */ }

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* ************************ */
/* Navigation */
/* ************************ */
nav {
  display: none; }

nav ul {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  text-align: center; }

nav ul li {
  list-style-type: none;
  padding: 10px 0; }

nav ul li a {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  opacity: .7;
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block; }

.nav-active {
  opacity: 1; }

/* ************************ */
/* Home section */
/* ************************ */
#home-cont {
  padding: 6rem 0 7rem; }

#home-title {
  font-size: 55px;
  font-size: 3.4375rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff; }

#home-sub-title {
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: .15rem; }

/* ************************ */
/* 'The Healhier Medicine' section */
/* ************************ */
#healthier-title {
  margin: 50px 0; }

.card-horizontal:first-child {
  background-color: #fff;
  padding: 0; }

.card-horizontal {
  text-align: center;
  padding: 4rem 1rem;
  margin: 3.5rem 0; }

.card-h-align-in div h3 {
  font-weight: 700; }

.card-h-align-in img {
  display: inline-block;
  width: 60px;
  margin-bottom: 1rem; }

.box-shadow {
  -webkit-box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 20px 10px 30px 0px rgba(50, 50, 50, 0.1); }

/* ************************ */
/* Featured Products Section */
/* ************************ */
#featured-title {
  margin-bottom: 0;
  padding-top: 2rem; }

.title-sub {
  max-width: 428px;
  margin: 0 auto;
  margin-bottom: 50px; }

.card-img {
  display: block; }

.card-vertical {
  margin-bottom: 40px; }

.card-vertical img {
  width: 100%; }

.card-v-inner {
  padding: 1.5rem; }

.card-v-inner h4 {
  font-weight: 300; }

/* ************************ */
/* 'Let's Get Started' section */
/* ************************ */
.get-started-cont {
  background-color: #F7F7F7;
  padding: 50px 0; }

.get-started-input {
  height: 58px;
  display: block;
  width: 100%;
  border-radius: 10rem;
  border: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2); }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .content-wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: left; }

  /* ************************ */
  /* Navigation */
  /* ************************ */
  nav {
    display: block; }

  nav ul {
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    text-align: right; }

  nav ul li {
    list-style-type: none;
    padding: 10px 0;
    display: inline-block;
    margin-right: 3%; }

  nav ul li a {
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    opacity: .7;
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block; }

  #mobile-icon-cont {
    display: none; }

  /* ************************ */
  /* Home section */
  /* ************************ */
  #home-cont {
    padding: 12rem 0 14rem; }

  #home-title {
    font-size: 68px;
    font-size: 4.25rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #fff; }

  #home-sub-title {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: .15rem; }

  /* ************************ */
  /* 'The Healhier Medicine' section */
  /* ************************ */
  #healthier-cont {
    text-align: center;
    padding: 4rem 0; }

  .card-horizontal:first-child {
    background-color: #fff; }

  #healthier-title {
    margin: 0;
    font-size: 48px;
    font-size: 3rem;
    text-align: left;
    padding-top: 2.25rem; }

  .card-horizontal {
    background-color: #F7F7F7;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
    display: inline-block;
    width: 46%;
    margin-right: 3%;
    vertical-align: top;
    min-height: initial;
    padding: 0; }

  .card-h-align-cont {
    height: 15rem;
    line-height: 15rem;
    text-align: center; }

  .card-h-align-span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%; }

  .card-h-align-in {
    width: 100%;
    text-align: left; }

  .card-h-align-in img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4% 0 6%; }

  .card-h-align-in div {
    display: inline-block;
    margin: 0px;
    width: 60%;
    vertical-align: top;
    text-align: left; }

  /* ************************ */
  /* Featured Products Section */
  /* ************************ */
  #featured-title {
    margin-bottom: 0;
    padding-top: 0rem; }

  #featured-cont {
    text-align: center; }

  .card-vertical {
    margin-bottom: 0px;
    display: inline-block;
    width: 30%;
    margin-right: 2%; }

  #featured-title, .title-sub {
    text-align: center; }

  .card-v-btn-cont {
    text-align: right; }

  .card-v-inner {
    text-align: left; }

  .card-v-inner p {
    line-height: 1.75rem; }

  /* ************************ */
  /* 'Let's Get Started' section */
  /* ************************ */
  .get-started-cont {
    padding: 8rem 0; }

  #get-started-title {
    text-align: center; }

  .input-cont {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center; }

  .get-started-input {
    height: 48px;
    display: inline-block;
    width: 50%;
    border-radius: 10rem;
    border: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 0px 15px 0px rgba(50, 50, 50, 0.2); }

  .submit-btn {
    margin-left: -1.4rem;
    vertical-align: top; } }

/*# sourceMappingURL=main.css.map */
